@import "./bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html {
  font-size: 100%;
}

button,.button {
  transition: all $transition-duration;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    filter: grayscale(0.7);
    cursor: not-allowed;
  }
  & .icon {
    width: 20px;
    height: 20px;
  }
  &.button-inline {
    display: inline-flex;
  }
}

a.button {
  display: inline-flex;
}

.row {
  display: flex;
  margin: $row-margin;
  &.centered {
    justify-content: center;
    align-content: center;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

img.responsive-image {
  max-width: 100%;
}

button.button-primary,.button.button-primary {
  transition: all $transition-duration;
  border-radius: $main-border-radius;
  background: $green;
  border: $main-border-size lighten($green, 3%) solid;
  @include blackShadow();
  padding: 10px;
  color: $white;
  font-weight: 700;
  &:hover {
    background: lighten($green, 1%);
    @include darkerShadow()
  }
}

body {
  background: $white;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  color: $darker;
  &.dark-theme {
    color: $white;
    background: $darker;
  }
}

* {
  box-sizing: border-box;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.container {
  margin-top: $navbar-height + $space-nav-content;
  padding: 0 $mobile-container-padding;
}

.container {
  width: 100%;
  @include breakpoint(tablet) {
    max-width: 80%;
    margin: 0 auto;
  }
  @include breakpoint(desktop) {
    max-width: 70%;
    margin: 0 auto;
  }
}

a {
  transition: all $transition-duration;
  color: $green;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: $hover-link;
  }
}

.fixed-bloc {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.contenu-spoil {
  display: none;
}

.aff-spoil,
.masq-spoil {
  display: none;
}

.bloc-spoil-jv {
  & .contenu-spoil {
    background: transparentize($green, 0.3);
    padding: 10px;
    display: none;
  }
  & label {
    transition: all $transition-duration;
    display: inline-block;
    padding: 5px 20px;
    background: $green;
    user-select: none;
    &:hover {
      cursor: pointer;
      background: transparentize($green, 0.3);
    }
  }
  & input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ label {
        background: transparentize($green, 0.3);
      }
      & ~ label ~ .contenu-spoil {
        display: block;
      }
    }
  }
}
