$transition-duration: .3s;
$margin-mobile: 1rem;
$navbar-height: 50px;
$mobile-container-padding: 40px;

$space-nav-content: 30px;
$space-menu-button-menu: 10px;

$hover-link: darken($green, 10);

$main-border-radius: 3px;
$card-border-radius: 6px;

$main-border-size: 2px;

$main-shadow-position: 2px 3px 15px;
$navbar-shadow-position: 0 0 18px;
$darker-shadow-position: 2px 8px 20px;
$condensed-shadow-position: 0 0 10px;
$black-shadow-position: 0 2px 15px;

$defaut-box-shadow-transparentize: 0.5;

$row-margin: 20px 0;
